<div>
    <p>
        Hi, I am <strong>Shashangka Shekhar</strong>
        <br>
        Working with Microsoft Technologies. Since March 2011, it was my first step to working with Microsoft Technologies, achieved bachelor degree on Computer Science from State University of Bangladesh(Dhaka).
        <br>
        Have 6+ years of professional experience on software development, currently working as Software Architect at OnAir International Ltd.
        <br>
        I believe in desire of learning &amp; also love to be a part of .Net Community by sharing knowledges. Tech writer &amp; author at C# Corner, Code Project. Get some of my shared repositories @GitHub
    </p>
    <hr class="mt-10 mb-10">
    <p>
        <strong>You can follow me at Social Network</strong>
        <br>
        Twitter: @tweetShashangka<br>
        Facebook: @ShashangkaShekhar
        <br><br>
        <strong>Find me at Professional Network</strong>
        <br>
        Linkedin: Shashangka
    </p>
</div>