<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <h3>User Details</h3>
            <form [formGroup]="userForm" #f="ngForm" (ngSubmit)="save()">
                <div class="form-group">
                    <label for="firstName">First Name</label><em *ngIf="userForm.controls['firstName'].hasError('required')" class="text-danger">*</em>
                    <input type="text" id="firstName" name="firstName" formControlName="firstName" class="form-control" placeholder="First Name" required />
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label><em *ngIf="userForm.controls['lastName'].hasError('required')" class="text-danger">*</em>
                    <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name" required />
                </div>
                <div class="form-group">
                    <label for="email">Email</label><em *ngIf="userForm.controls['email'].hasError('required')" class="text-danger">*</em>
                    <input type="email" formControlName="email" class="form-control" placeholder="Email" required />
                    <span *ngIf="userForm.controls['email'].hasError('pattern')" class="text-danger">
                        Invalid Email
                    </span>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label><em *ngIf="userForm.controls['phone'].hasError('required')" class="text-danger">*</em>
                    <input type="text" formControlName="phone" class="form-control" placeholder="Phone" required />
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-danger" (click)="reset()">Reset</button>
                    <button type="submit" class="btn btn-primary ml-10" [disabled]="!f.valid">Save</button>
                </div>
            </form>
            <span class="warning">{{resmessage}}</span>
        </div>
        <div class="col-sm-8">
            <h3>All User</h3>
            <table style="width:100%" class="table table-striped">
                <tr>
                    <th>Sr.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Option</th>
                </tr>
                <tr *ngFor="let item of users;let sl = index">
                    <td>{{sl+1}}</td>
                    <td>{{item.firstName}} {{item.lastName}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phone}}</td>
                    <td>
                        <a href="#" title="Edit Record" class="btn btn-primary btn-xs pull-right" (click)="edit($event, item)">
                            Edit
                        </a>
                        <a href="#" title="Delete Record" class="btn btn-danger btn-xs pull-right" (click)="delete($event, item)">
                            Delete
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>